.venv/
.idea/

# Ignore Python bytecode files
**/__pycache__/
**/*.pyc
**/*.pyo

# Ignore specific test output files
scalableXplain/tests/shap_bar_plot.png
scalableXplain/tests/test_iris_shap_force_plot.html